body,
html {
  height: 100%;
}

img {
  display: inline-block;
  height: auto;
  width: 100%;
}

.coming-soon {
  background-color: #fff;
  background-image: url("../img/eop2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #fff;
}
