body,
html {
  height: 100%;
}

img {
  display: inline-block;
  height: auto;
  width: 100%;
}

.coming-soon {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../img/eop2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.container-fluid {
  position: relative;
}

.coming-soon-text {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 span {
  font-weight: 700;
  letter-spacing: 3px;
}
